.socialSignin {
  margin: 0 auto ;
}

.links {
  display: block;
  width: 100%;
  margin: 1.5rem auto 0;

  a {
    color: black;
  }
}

button {
  transition: 1s;
}

#resetText{
  color: white;
}

#resetText:hover{
  color: orange;
}

.input_field{
  border-radius: 30px;
}

.links a {
  color: white;
  
}