* {
    text-align: center;
    color:rgb(31, 16, 16);
  }

  .omOssColor, .omOssColor td{
<<<<<<< HEAD
    color: rgb(179, 52, 52);
=======
    color: rgb(194, 54, 54);
>>>>>>> e70a61ba609c06ede7703cb0c485ea3ed86ba6ea
  }

