.directory {
  height: 10%;
  margin: 0;

  }

@media only screen and (max-width: 980px) {

  .directory .wrap .item {
    width: 50%;
    height: 50%;

    a {
      font-size: 1.5rem;
    }
  }

}

