.directory {
  height: 10%;
  margin: 0;

<<<<<<< HEAD
  .wrap {
    background-color: #0e0505;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 40% 50%;
    margin: 0;

      

      a{
        position: absolute;
        top: 85%; left: 22%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2rem;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        color: black;
        background: rgba(255,255,255,.9);
        padding: 10px 15px;
        border: 1px solid black;
        background-color: rgb(238, 157, 6);
        border-radius: 30px;
        width: 300px;

        &:hover {
          background: rgba(255,255,255,1);
        }

      }

=======
>>>>>>> cf5635b455a87eaae5b478ac1281621182efd27d
  }

@media only screen and (max-width: 980px) {

  .directory .wrap .item {
    width: 50%;
    height: 50%;

    a {
      font-size: 1.5rem;
    }
  }

}

