.header {
  height: 80px;
  //box-shadow: 0 2px 4px 0 rgba(235, 230, 230, 0.877);
  background-color: #524E4E;
  padding: 10px;
  width: 100%;
  transition: 1s;

  .wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .header_nav_center{
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
    }
    .header_nav_center *{
      color: white;
      padding: 0 10px;
    }

    .header_nav_center *:hover, .callToActions *:hover{
      color: orange;
    }

    .callToActions {
      box-sizing: border-box;
      i {
        display: none;
      }

      ul, li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a, span {
          font-size: 1.8rem;
          line-height: 1;
          color: rgb(211, 193, 193);
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }

      }

    }

  }

}

.mobileMenu {
  display: none;
}

#B_Container{
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  padding: 10px 10px 5px;
}

#B_Container span{
  color: white;
  height: 7px;
  width: 40px;
  background-color: thistle;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: 1s;
  position: relative;
}

.isOpen{
  height: 280px;
}

@media only screen and (max-width: 800px) {

  .header{
    .wrap{
      flex-direction: column;
      overflow: hidden;
      justify-content: space-between;
      .logo{
        #B_Container{
          display: flex;
        }
        width: 100%;
        img{
          height: 50px;
          width: 100px;
        }
      }
      .header_nav_center{
        flex-direction: column;
        align-items: center;
      }
      .header_nav_center *{
        display: block;
        margin-bottom: 5px;
      }
      .header_nav_center span:nth-child(2){
        margin-bottom: -40px;
      }
      .callToActions li, .callToActions a{
        display: block;
        margin: 10px 0;
      }
    }
  }

  .mobileMenu {
    display: block;
  }

  


}