

td{
    min-width: 120px;
    height: 50px;
}

.kontakta_oss *{
    padding-top: 100px;
    text-align: left;
}

.kontakta_oss p {
    padding-top: 50px;
    width: 500px;
    margin-bottom: 50px;
    color: white;
}